## add more items to ignore below and comment why

#ignore .venv directory which contains environment variables
.venv

# ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
